<tr>
  <td><%= developer_certificate.name %></td>
  <td><%= developer_certificate.organization %></td>
  <td>
    <ul>
      <% developer_certificate.provisioning_profiles.each do |provisioning_profile| %>
        <%= link_to provisioning_profile, provisioning_profile %>
      <% end %>
    </ul>
  </td>
  <td><%= time_ago_in_words developer_certificate.expires_at %></td>
  <td>
    <% if developer_certificate.keychain_export? %>
      Provided, ready to sign applications
    <% else %>
      <%= link_to 'Not provided, this is needed to sign applications', [:edit, developer_certificate] %>
    <% end %>
  </td>
  <td><%= link_to 'Details', developer_certificate %></td>
  <td><%= link_to 'Destroy', developer_certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
