<% build_task.build_task_results.size.tap do |rowspan| %>
<tr>
  <td rowspan=<%= rowspan %>><%= build_task.build_rule.native_target.xcode_project %></td>
  <td rowspan=<%= rowspan %>><%= build_task.build_rule.native_target %></td>
  <td rowspan=<%= rowspan %>><%= build_task.name %></td>
  <td rowspan=<%= rowspan %>><%= build_task.build_rule %></td>
  <td rowspan=<%= rowspan %>><%= build_task.state %></td>
  <td>
    <% build_task.build_task_results.first.tap do |result| %>
      <% if result %>
          <%= link_to result do %>
          <%= File.basename result.file.to_s %>
          <small><%= number_to_human_size result.file.size %></small>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
<% end %>
<% build_task.build_task_results[1..-1].try(:each) do |result| %>
  <tr>
    <td>
      <%= link_to result do %>
        <%= File.basename result.file.to_s %>
        <small><%= number_to_human_size result.file.size %></small>
      <% end %>
    </td>
  </tr>
<% end %>
