<tr>
  <td><%= repository.full_name %></td>
  <td>
    <%= automatic_build_status repository %>
    <% unless repository.automatic_builds? %>
      <%= link_to repository, :method => :put, :class => 'btn btn-small pull-right' do %>
        <i class="icon-refresh"></i> Try again
      <% end %>
    <% end %>
  </td>
  <td><%= pluralize repository.branches.count, 'branch' %></td>
  <td><%= pluralize repository.tags.count, 'tag' %></td>
</tr>
