<td>
  <%= native_target.product_name %>
</td>
<td>
  <%= pluralize native_target.repository_branches.count, 'branch' %>
</td>
<td>
  <% if native_target.build_rules.any? %>
    <ul>
      <% native_target.build_rules.each do |build_rule| %>
        <li><%= link_to "#{build_rule.build_configuration} configuration with #{build_rule.provisioning_profile}", [:edit, native_target, build_rule] %></li>
      <% end %>
    </ul>
  <% elsif native_target.build_rules.count > 1 %>
    <%= pluralize native_target.build_rules.count, 'build rule' %>
  <% else %>
    No build rules
  <% end %>
</td>
<td>
  <%= pluralize 0, 'past build' %>
</td>
