<!DOCTYPE html>
<html>
<head>
  <title><% if content_for? :title %><%= yield :title %> | <% end %>Shipbot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag 'teaser.png', :id => 'teaser' %>
  <div id="login">
	  <% if current_user %>
		You are logged in as <em><%= current_user %></em> <%= label_tag nil, nil, :class => main_provider_icon(current_user) %>, <%= link_to 'proceed to your repositories', :repositories %>.
	  <% else %>
		<%= link_to 'Sign in with Github', oauth_authorize_path(:service => 'github') %>
	  <% end %>
  </div>
  <%= render 'shared/go_squared' %>
</body>
</html>
