<!DOCTYPE html>
<html>
<head>
  <title><% if content_for? :title %><%= yield :title %> | <% end %>Shipbot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag 'teaser.png', :id => 'teaser' %>
  <div id="login">
	  <% if @user %>
		You are already logged in as <em><%= @user %></em>, <%= link_to 'proceed to your repositories', :repositories %>.
	  <% else %>
		<%= link_to 'Login', :repositories %> – <%= link_to 'Sign Up', :repositories %>
	  <% end %>
  </div>
  <%= render 'shared/go_squared' %>
</body>
</html>
