<!DOCTYPE html>
<html>
<head>
  <title><% if content_for? :title %><%= yield :title %> | <% end %>Shipbot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" style="margin-top:2em;">
	    <div class="row-fluid span12">
		  <%= image_tag 'teaser.png' %>
		</div>
	    <div class="row-fluid span10">
	    <div class="pull-right">
		  <% if current_user %>
			You are logged in as <em><%= current_user %></em> <%= label_tag nil, nil, :class => main_provider_icon(current_user) %>, <%= link_to 'proceed to your repositories', :repositories %>.
		  <% else %>
			<%= link_to 'Sign in with Github', oauth_authorize_path(:service => 'github'), :style=>"margin-right:2em;" %>
		  <% end %>
	   </div>
	   </div>
	    <div class="row-fluid span12"><br/><div>
  	<% if flash[:notice]  %>
	    <div class="row-fluid span12">
			<div class="alert alert-info">
			   <%= flash[:notice] %>
		       <button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
        </div>
    <% end %>
    <% if flash[:error] %>
	    <div class="row-fluid span12">
			<div class="alert alert-error">
			   <%= flash[:error] %>
		       <button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
        </div>
	<% end %>
	<%= render 'shared/go_squared' %>
	</div>
</body>
</html>
