<tr>
  <td><%= provisioning_profile.name %></td>
  <td><%=  provisioning_profile.developer_certificate  %>
  <td><%= time_ago_in_words provisioning_profile.expires_at %></td>
  <td><%= provisioning_profile.unqualified_application_identifier %></td>
  <td>
    <% if provisioning_profile.enterprise %>
      &#8734;
    <% else %>
      <%= provisioning_profile.provisioned_devices_count %>
    <% end %>
  </td>
  <td>
    <% if provisioning_profile.developer_certificate.keychain_export? %>
      Provided, ready to sign applications
    <% else %>
      <%= link_to 'Not provided, this is needed to sign applications', [:edit, provisioning_profile.developer_certificate] %>
    <% end %>
  </td>
  <td><%= link_to 'Details', provisioning_profile %></td>
  <td><%= link_to 'Destroy', provisioning_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
